@use "colors";

@mixin btn {
  all: unset;
  padding: 0.45em 0.66em;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: scale 200ms ease-out;
}

.btn {
  @include btn;

  &:active {
    scale: 0.975;
  }

  &.btn-primary {
    background: colors.$primary;
  }

  &.btn-secondary {
    background: colors.$secondary;
  }

  &.btn-info {
    color: black;
    background-color: colors.$info;
  }
}