.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@for $i from 1 through 6 {
  .gap-#{$i} {
    gap: 0.25em * $i;
  }
}