@use "btn";
@use "colors";

.form {
  width: min(100%, 700px);
  padding: 1em;
  gap: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: colors.$primary;

  &-row {
    display: flex;
    flex-wrap: wrap;


    [class^="form-group"] {

      input,
      select,
      textarea {
        font-size: inherit;
        font-family: inherit;
        padding: 0.2em 0.25em;
      }

      input {

        &[type="text"],
        &[type="email"],
        &[type="password"],
        &[type="number"],
        &[type="search"],
        &[type="date"] {
          width: 100%;
        }
      }

      textarea {
        height: 100%;
        resize: vertical;
      }
    }
  }

  @for $i from 1 through 12 {
    .form-group-#{$i} {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      padding-inline: 0.5em;
      width: calc(100% / 12 * $i);

    }
  }

  .form-checkbox {
    display: flex;
    align-items: center;
    padding-inline: 0.5em;
    gap: 0.5em;
  }

  .form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    button {
      @include btn.btn;
      background-color: colors.$secondary;
    }
  }
}