.form {
  $bg-clr1: hsl(181, 41%, 25%);
  $bg-clr2: hsl(181, 72%, 13%);
  margin: 0 auto 3em auto;
  border-radius: 10px;
  color: white;
  background: $bg-clr1;
  background: linear-gradient(to right, $bg-clr2, $bg-clr1);

  .form-required {
    &::after {
      content: "*";
      display: inline-block;
      margin-inline-start: 0.33em;
      transform: scale(1.2, 1.5);
      color: red;
    }
  }

  @media only screen and (max-width: 576px) {
    [class^="col"] {
      margin-bottom: 0.5em;
    }
  }
}