@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  --bs-body-font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  --page-width: 900px;
}

#App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8vh minmax(92vh, auto) auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1em;
}

a {
  color: inherit;
}

ul {
  list-style-position: inside;
}

.cursor-pointer {
  cursor: pointer;
}

.link-no-hover:hover {
  color: currentColor;
}

.list-style-none {
  list-style: none;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.w--500 {
  width: min(100%, 500px);
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}