.table {
  $bg-clr1: hsl(197, 84%, 45%);
  $bg-clr2: darken($bg-clr1, 5%);
  border-spacing: 1px;
  width: 100%;

  thead {
    background: $bg-clr1;
    background: linear-gradient(to bottom, $bg-clr1, $bg-clr2);
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: hsl(0, 0%, 92%);
      }

      &:nth-child(even) {
        background-color: hsl(0, 0%, 85%);
      }
    }
  }

  th,
  td {
    padding: 0.5em;
  }

  th {
    color: white;
    text-align: start;
  }

  address {
    white-space: pre-line;
    font-style: normal;
  }

  &__subtitle-body {
    tr {
      background-color: hsl(0, 0%, 22%) !important;
      color: white;
      text-align: center;
    }
  }
}