@use "btn";
@use "container";
@use "form";
@use "table";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

#root {
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: hsl(0, 0%, 92%);

  &::-webkit-scrollbar {
    display: none;
  }
}

#App {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

main {
  padding: 1em;
  overflow-x: auto;
}

p {
  margin-bottom: 1em;
}