@use "btn";
@use "container";
@use "form";
@use "table";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

#root {
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: url("/img/chess-bg.jpg") center / cover no-repeat;

  &::-webkit-scrollbar {
    display: none;
  }
}

#App {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: hsl(0, 0%, 100%, 0.95);
}

main {
  padding: 1em;
  overflow-x: auto;
}

p {
  margin-bottom: 1em;
}

input {
  &[type=number] {
    appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}